body{
    background-color: rgb(226, 241, 241);
    margin: 0px;
    padding: 0px;

}
#table{
    background-color: white;
    margin-top: 3%;
}
#heading{
    margin-left: 3.6%;
    margin-top:0%;
    padding-top: 10px;
}