body{
    background-color: rgb(226, 241, 241);
}

.form-group{
    padding: 7px;
}
#container_Id{
    /* border:2px solid blue; */
    width: 70%;
    height: 400px;
    margin-top: 8px;
    margin-bottom: 40px;
}
#button{
    width: 20%;
    border: none;
    font-size: 17px;
    border-radius: 4px;

  
}

#button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  #button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

 